/* Orta hizalama ve yükseklik ayarları */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  /* Kart stil ayarları */
  .card {
    width: 100%;
    max-width: 250px; /* Kartın maksimum genişliği */
  }
  
  /* Resim ayarları */
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 120px;
  }
  
  /* İçerik ayarları */
  .card-content {
    padding: 10px;
  }
  
  /* Başlık stil ayarları */
  .card-title {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
  }
  